// Base -----------------------------------------------------------------------

// Embedded

svg
    fill: $color-secondary-light
    @media (prefers-color-scheme: dark)
        fill: $color-secondary-dark

img
    block-size: auto
    display: block
    page-break-inside: avoid
    border-style: none

// Sections

html,
body
    -webkit-tap-highlight-color: rgba(0,0,0,0)

html
    block-size: 100vh
    scroll-behavior: smooth
    -webkit-text-size-adjust: 100%
    box-sizing: border-box
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    scroll-behavior: smooth
    background-color: $color-background-light
    @media (prefers-color-scheme: dark)
        background-color: $color-background-dark

body
    margin: 0
    min-block-size: 100vh
    overflow-x: hidden
    font-family: $type-family-1
    line-height: $type-height
    font-feature-settings: "kern" on, "liga" on
    font-size: 1.125em
    line-height: 1.5
    color: $color-primary-light
    word-wrap: break-word
    overflow-wrap: break-word
    @media (prefers-color-scheme: dark)
        color: $color-primary-dark
    @media #{$media-query-medium}
        font-size: 1.25em
    @media #{$media-query-large}
        font-size: 1.5em
    &::before
        content: ' '
        position: fixed
        z-index: -1
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: url(../static/bg-light.svg)
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        @media (prefers-color-scheme: dark)
            background-image: url(../static/bg-dark.svg)

main
    display: block

hr
    box-sizing: content-box
    height: 0
    overflow: visible

.section
    + .section
        clear: both
        margin-top: $size-l
        @media #{$media-query-medium}
            margin-top: $size-xl
        @media #{$media-query-large}
            margin-top: $size-xxl

footer
    clear: both
    margin-top: $size-l
    @media #{$media-query-small-only}
        padding-bottom: $size-xxl
    @media #{$media-query-medium}
        margin-top: $size-xl
        padding-bottom: $size-m
    @media #{$media-query-large}
        margin-top: $size-xxl
        padding-bottom: $size-l

// Text-level semantics

a
    color: $color-secondary-light
    background-color: transparent
    @media (prefers-color-scheme: dark)
        color: lighten($color-secondary-dark, 20%)
    text-decoration: underline
    text-decoration-color: rgba($color-secondary-light, 50%)
    @media (prefers-color-scheme: dark)
        text-decoration-color: rgba($color-secondary-dark, 50%)
    &:hover
        text-decoration-color: $color-secondary-light
        @media (prefers-color-scheme: dark)
            text-decoration-color: lighten($color-secondary-dark, 20%)

mark 
    background-color: $color-tertiary-light
    padding-left: 0.25em
    padding-right: 0.25em
    border-radius: 2px 
    @media (prefers-color-scheme: dark)
        background-color: $color-tertiary-dark

small
    font-size: 80%

dl
    margin: 0

dd
    margin-left: 0

// Headings

h1, h2, h3, h4, h5, h6
    font-family: $type-family-2
    font-weight: normal
    line-height: 1
    text-transform: uppercase
    letter-spacing:  0.075rem
    margin-bottom: 0
    margin-top: 1.5em

h1, .h1
    font-size: 4em
h2, .h2
    font-size: 2em
h3, .h3
    font-size: 1.75em
h4, .h4
    font-size: 1.5em
h5, .h5
    font-size: 1.25em
h6, .h6
    font-size: 1em

// Media

figure
    margin-left: 0
    margin-right: 0
    &.full
        margin-left: -$size-s
        margin-right: -$size-s
        @media #{$media-query-medium}
            margin-left: -$size-m
            margin-right: -$size-m
        @media #{$media-query-large}
            margin-left: -$size-l
            margin-right: -$size-l
        @media #{$media-query-huge}
            margin-left: -$size-xxxl
            margin-right: -$size-xxxl
        figcaption
            margin-left: $size-s
            margin-right: $size-s
            @media #{$media-query-medium}
                margin-left: $size-m
                margin-right: $size-m
            @media #{$media-query-large}
                margin-left: $size-l
                margin-right: $size-l
            @media #{$media-query-huge}
                margin-left: $size-xxxl
                margin-right: $size-xxxl
    img
        width: 100%

    figcaption
        font-family: $type-family-3
        font-size: 1.25em
        margin-top: $size-s

.avatar
    img
        @media (prefers-color-scheme: dark)
            filter: drop-shadow(0 0 0.5rem $color-secondary-dark)