// Base -----------------------------------------------------------------------

// Embedded

svg
    fill: $color-secondary-light
    @media (prefers-color-scheme: dark)
        fill: $color-secondary-dark

img
    block-size: auto
    display: block
    max-width: 100%
    page-break-inside: avoid

// Sections

html
    block-size: 100vh
    scroll-behavior: smooth
    text-size-adjust: 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

body
    margin: 0
    min-block-size: 100vh
    overflow-x: hidden
    font-family: $type-family-1
    line-height: $type-height
    font-feature-settings: "kern" on, "liga" on
    font-size: 1.125em
    background-image: url(../static/bg-light.svg)
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-color: $color-background-light
    color: $color-primary-light
    @media (prefers-color-scheme: dark)
        background-image: url(../static/bg-dark.svg)
        background-color: $color-background-dark
        color: $color-primary-dark
    @media #{$media-query-medium}
        font-size: 1.25em
    @media #{$media-query-large}
        font-size: 1.5em

section
    + section
        clear: both
        // margin-top: $size-m
        // @media #{$media-query-medium}
        //     margin-top: $size-l
        // @media #{$media-query-large}
        //     margin-top: $size-xl
footer
    clear: both
    margin-top: $size-l
    padding-bottom: $size-m
    @media #{$media-query-medium}
        margin-top: $size-xl
        padding-bottom: $size-m
    @media #{$media-query-large}
        margin-top: $size-xxl
        padding-bottom: $size-l

// Text-level semantics

a
    color: $color-secondary-light
    @media (prefers-color-scheme: dark)
        color: lighten($color-secondary-dark, 20%)
    text-decoration: underline
    text-decoration-color: rgba($color-secondary-light, 50%)
    @media (prefers-color-scheme: dark)
        text-decoration-color: rgba($color-secondary-dark, 50%)
    &:hover
        text-decoration-color: $color-secondary-light
        @media (prefers-color-scheme: dark)
            text-decoration-color: lighten($color-secondary-dark, 20%)

mark 
    color: currentColor
    background-color: transparent

// Headings

h1, h2, h3, h4, h5, h6
    font-family: $type-family-2
    font-weight: normal
    line-height: 1.2
    margin-top: 0
    margin-bottom: 0
    text-transform: uppercase
    letter-spacing:  0.075rem

h1, .h1
    font-size: 2.25em
h2, .h2
    font-size: 2em
h3, .h3
    font-size: 1.75em
h4, .h4
    font-size: 1.5em
h5, .h5
    font-size: 1.25em
h6, .h6
    font-size: 1em