.h
    &-uppercase
        text-transform: uppercase

    &-visually-hidden
        block-size: 1px
        border: 0
        clip: rect(0 0 0 0)
        inline-size: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute

    &-hover
        &--1
            transition: filter 150ms ease-out
            &:hover
                -webkit-filter: brightness(130%)
                filter: brightness(130%)
        &--2
            transition: transform 150ms ease-out
            &:hover
                transform: scale(1.05)
                @media #{$media-query-large}
                    transform: scale(1.1)


    &-container
        max-width: var(--container-size)
        margin-left: auto
        margin-right: auto
        padding-left: var(--size-s)
        padding-right: var(--size-s)
        @media #{$media-query-medium}
            padding-left: var(--size-m)
            padding-right: var(--size-m)
        @media #{$media-query-large}
            padding-left: var(--size-l)
            padding-right: var(--size-l)

    &-list-scroll
        list-style: none
        margin: 0
        background-color: var(--color-neutral-4)
        @media #{$media-query-small-only}
            padding: 1em
        @media #{$media-query-medium}
            padding: 1em 0 1em var(--size-m)
            overflow-x: scroll
            overflow-y: hidden
            -webkit-overflow-scrolling: touch
            white-space: nowrap
        @media #{$media-query-large}
            padding-left: var(--size-l)
        &--item
            @media #{$media-query-small-only}
                margin-bottom: var(--size-s)
            @media #{$media-query-medium}
                margin-right: var(--size-m)
                display: inline-block
                list-style: none
                vertical-align: middle
                white-space: normal
            @media #{$media-query-large}
                margin-right: var(--size-l)

    &-list-horizontal
        list-style: none
        padding: 0
        &--space
            padding: var(--size-s) 0
        &--item
            display: inline-block
            list-style: none
            &--distance-1
                margin-right: var(--size-l)
                @media #{$media-query-medium}
                    margin-right: var(--size-xl)
            &--distance-2
                margin-right: var(--size-s)
                @media #{$media-query-medium}
                    margin-right: var(--size-m)
            &:last-child
                margin-right: 0

    &-mt-0
        margin-top: 0

    &-mb-0
        margin-bottom: 0
    
    &-meta
        float: right
        width: 33%
        font-size: 0.875em
        margin-left: var(--size-m)
        margin-bottom: var(--size-m)
        @media #{$media-query-medium}
            margin-left: var(--size-l)
            margin-bottom: var(--size-l)
        dt
            font-family: var(--type-family-2)
            text-transform: uppercase
        dd + dt
            margin-top: var(--size-m)
    
    &-stats
        font-family: var(--type-family-2)
        font-size: 2.5em
        line-height: 1
        margin-bottom: 0
        li
            margin-bottom: var(--size-s)
            @media #{$media-query-medium}
                margin-bottom: var(--size-l)
        p
            margin: 0
        strong
            display: block
            font-family: var(--type-family-3)
            font-size: 0.625em
            font-weight: normal
            opacity: 0.5