#header
    margin-top: $size-xl
    @media #{$media-query-large}
        margin-top: $size-xxl
    .logo
        font-size: 1em
        font-family: $type-family-3
        line-height: 0.5
        margin: 0
        color: $color-tertiary-light
        text-transform: none
        letter-spacing: 0
        @media (prefers-color-scheme: dark)
            color: $color-tertiary-dark
        svg
            @media #{$media-query-small-only}
                height: 2.25rem
                width: 17.6875rem
            @media #{$media-query-medium}
                height: 2em

#about
    .avatar
        float: right
        height: 50%
        @media #{$media-query-medium}
            position: relative
            top: - $size-l
            margin-left: $size-l
        @media #{$media-query-large}
            top: - $size-xl
            margin-left: $size-xxl
        img
            @media #{$media-query-small-only}
                width: $size-xxl

#works
    @media #{$media-query-small-only}
        margin-top: $size-l
    img
        border-radius: 4px
        @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25)

#clients
    svg
        fill: rgba($color-primary-light, 50%)
        @media (prefers-color-scheme: dark)
            fill: rgba($color-primary-dark, 50%)
        height: 3rem
        @media #{$media-query-medium}
            height: 4rem
        @media #{$media-query-large}
            height: 5rem
#contact
    .button
        display: inline-block
        color: #FFF
        background-color: $color-secondary-light
        border-radius: 4px
        padding: $size-s $size-m
        margin-top: $size-s
        text-decoration: none
        @media (prefers-color-scheme: dark)
            background-color: $color-secondary-dark


#footer
    svg
        height: $size-l
        width: $size-l