#header
    margin-top: var(--size-xl)
    @media #{$media-query-large}
        margin-top: var(--size-xxl)
    .logo
        font-size: 0.75em
        font-family: var(--type-family-3)
        line-height: 0.5
        margin: 0
        text-transform: none
        letter-spacing: 0
        color: var(--color-tertiary-light)
        @media (prefers-color-scheme: dark)
            color: var(--color-tertiary-dark)
            text-shadow: 0 0 0.5em currentcolor
        svg
            position: relative
            z-index: -1
            height: 2.25em
            width: 17.6875em

#about
    .avatar
        float: right
        @media #{$media-query-medium}
            position: relative
            top: - var(--size-l)
            margin-left: var(--size-l)
        @media #{$media-query-large}
            top: - var(--size-xl)
            margin-left: var(--size-xxl)
        img
            padding: 0.5em
            @media #{$media-query-medium}
                width: 154px
                height: 230px

#works
    @media #{$media-query-small-only}
        margin-top: var(--size-l)
    .featured
        display: block
        position: relative
        text-decoration: none
        &:hover
            &::after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: linear-gradient(45deg, rgba(255,255,255,0.125) 0%, rgba(255,255,255,0.25) 43%, rgba(255,255,255,0.25) 63%, rgba(255,255,255,0) 100%)
                z-index: 2
                border-radius: var(--size-s)
            img
                @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
                    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5)

        &-label
            position: absolute
            top: 0
            right: 0
            font-family: var(--type-family-2)
            font-size: 0.625em
            color: var(--color-primary-light)
            background-color: var(--color-tertiary-light)
            padding: 0.25em 0.5em
            text-transform: uppercase
            letter-spacing: 2px
            border-top-right-radius: var(--size-s)
            border-bottom-left-radius: var(--size-s)
            z-index: 1
            @media (prefers-color-scheme: dark)
                color: var(--color-background-dark)
                background-color: var(--color-tertiary-dark)
            
    img
        position: relative
        border-radius: var(--size-s)
        @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
            transition: box-shadow 150ms ease-in
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.12)
        @media #{$media-query-small-only}
            width: 100%

#experience
    svg
        transition: fill 150ms ease-in
        fill: var(--color-neutral-1-light)
        height: 3rem
        @media (prefers-color-scheme: dark)
            fill: var(--color-neutral-1-dark)
        @media #{$media-query-medium}
            height: 4rem
        @media #{$media-query-large}
            height: 5rem
    a
        &:hover
            svg
                fill: var(--color-primary-light)
                @media (prefers-color-scheme: dark)
                    fill: var(--color-primary-dark)

    .button
        display: inline-block
        color: #FFF
        background-color: var(--color-secondary-light)
        border-radius: 4px
        padding: var(--size-s) var(--size-m)
        margin-top: var(--size-s)
        text-decoration: none
        @media (prefers-color-scheme: dark)
            background-color: var(--color-secondary-dark)
            box-shadow: 0 0 0.5em var(--color-secondary-dark)

#skills
    li
        font-size: 0.875em
        padding: 0.25em 0.5em
        border: 2px dotted var(--color-tertiary-light)
        border-radius: 0.5em
        margin-right: var(--size-s)
        margin-bottom: var(--size-s)
        @media (prefers-color-scheme: dark)
            border-color: var(--color-tertiary-dark)

#footer
    .h-list-horizontal
        a
            display: block
            background-color: var(--color-secondary-light)
            line-height: 0
            border-radius: 50%
            padding: 0.5em
            @media (prefers-color-scheme: dark)
                background-color: var(--color-secondary-dark)
                box-shadow: 0 0 0.5em var(--color-secondary-dark)
    svg
        fill: var(--color-background-light)
        height: var(--size-s)
        width: var(--size-s)
        @media (prefers-color-scheme: dark)
            fill: var(--color-primary-dark)
        @media #{$media-query-large}
            height: var(--size-m)
            width: var(--size-m)

#back
    .back, .avatar
        position: fixed
        z-index: 1
    
    .back
        border: none
        background-color: var(--color-secondary-light)
        margin: 0
        padding: var(--size-s)
        box-sizing: border-box
        cursor: pointer
        border-radius: 50%
        -webkit-appearance: none
        -webkit-border-radius: none
        left: var(--size-s)
        top: var(--size-s)
        line-height: 0
        @media (prefers-color-scheme: dark)
            background-color: var(--color-secondary-dark)
        @media #{$media-query-medium}
            top: var(--size-m)
            left: var(--size-m)
        @media #{$media-query-large}
            top: var(--size-l)
            left: var(--size-l)
        @media #{$media-query-huge}
            top: var(--size-xl)
            left: var(--size-xl)
        &:focus
            outline: none
        svg
            fill: #FFF
            @media #{$media-query-large}
                width: var(--size-xl)
                height: var(--size-xl)

    .avatar
        top: var(--size-s)
        right: var(--size-s)
        @media #{$media-query-medium}
            top: var(--size-m)
            right: var(--size-m)
        @media #{$media-query-large}
            top: var(--size-l)
            right: var(--size-l)
        @media #{$media-query-huge}
            top: var(--size-xl)
            right: var(--size-xl)
        &:hover
            cursor: pointer
        img
            @media #{$media-query-small-only}
                width: 64px
                height: 96px

#post
    &-header
        h1
            margin-bottom: 0
            text-transform: none
    &-content
        h3, h4
            text-transform: none

.footnotes
    margin-top: var(--size-xl)
    border-top: 2px solid var(--color-neutral-3-light)
    @media (prefers-color-scheme: dark)
        border-color: var(--color-neutral-3-dark)
    p
        margin: 0

#pagination
    ul
        display: flex
        justify-content: space-between
        padding: 0
        list-style: none
    li
        width: 45%
    span
        font-family: var(--type-family-3)
        font-size: 1.625em
    a
        display: block
        color: var(--color-primary-light)
        line-height: 1
        &:hover
            &::after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: linear-gradient(45deg, rgba(255,255,255,0.125) 0%, rgba(255,255,255,0.25) 43%, rgba(255,255,255,0.25) 63%, rgba(255,255,255,0) 100%)
                z-index: 2
                border-radius: var(--size-s)
            img
                @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
                    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5)
    img
        height: auto
        width: 100%
        border-radius: var(--size-s)
        transition: all 150 ease-out
        @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
            transition: box-shadow 150ms ease-in
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.12)

@keyframes wiggle
    0%
        transform: translateX(-1em)
    25%
        transform: translateX(1em)
    50%
        transform: translateX(-1em)
    75%
        transform: translateX(1em)
    100%
        transform: translateX(-1em)

#modal
    display: none
    &.open
        display: flex
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 9
        align-items: center
        justify-content: center
        background-color: var(--color-overlay-light)
        @media (prefers-color-scheme: dark)
            background-color: var(--color-overlay-dark)
    &-container
        position: relative
        max-width: 288px
    &-close
        border: none
        background: transparent
        margin: - var(--size-s) - var(--size-s) 0 0
        float: right
        padding: var(--size-s)
        box-sizing: border-box
        cursor: pointer
        border-radius: 50%
        -webkit-appearance: none
        -webkit-border-radius: none
        left: var(--size-s)
        top: var(--size-s)
        line-height: 0
        transition: background 150ms ease-out
        &:hover
            background-color: var(--color-neutral-4-light)
            @media (prefers-color-scheme: dark)
                background-color: var(--color-neutral-4-dark)
        svg
            fill: var(--color-primary-light)
            @media (prefers-color-scheme: dark)
                fill: var(--color-primary-dark)
    &-password
        width: 100%
        margin-top: var(--size-m)
        box-sizing: border-box
        padding: var(--size-s)
        border-radius: 4px
        border: 2px solid var(--color-neutral-1-light)
        @media (prefers-color-scheme: dark)
            border-color: var(--color-neutral-1-dark)
        &:focus
            outline: none
            border-color: var(--color-tertiary-light)
            @media (prefers-color-scheme: dark)
                border-color: var(--color-tertiary-dark)
        &.error
            border-color: red
            @media (prefers-color-scheme: dark)
                box-shadow: 0 0 2em red
            &--play
                animation: wiggle 500ms
    &-enter
        display: inline-block
        border: none
        width: 100%
        color: #FFF
        background-color: var(--color-secondary-light)
        border-radius: 4px
        padding: var(--size-s) var(--size-m)
        margin-top: var(--size-s)
        text-decoration: none
        @media (prefers-color-scheme: dark)
            background-color: var(--color-secondary-dark)
            box-shadow: 0 0 0.5em var(--color-secondary-dark)
    h5
        margin-top: 0
        text-transform: none
    p
        font-size: 1rem
        line-height: 1.2
        margin: 0