// NATIVE --------------------------------------------------------------

\:root

    // Color: light theme
    --color-primary-light: hsl(0, 0%, 5%)
    --color-secondary-light: hsl(243, 63%, 45%)
    --color-tertiary-light: hsl(50, 100%, 43%)
    --color-neutral-1-light: hsla(0, 0%, 5%, 50%)
    --color-neutral-2-light: hsla(0, 0%, 5%, 25%)
    --color-neutral-3-light: hsla(0, 0%, 5%, 12%)
    --color-neutral-4-light: hsla(0, 0%, 5%, 6%)
    --color-overlay-light: hsla(0, 0%, 100%, 98%)
    --color-background-light: hsl(0, 0%, 100%)

    // Color: dark theme
    --color-primary-dark: hsl(0, 0%, 100%)
    --color-secondary-dark: hsl(269, 94%, 57%)
    --color-tertiary-dark: hsl(166, 71%, 60%)
    --color-neutral-1-dark: hsla(0, 0%, 100%, 50%)
    --color-neutral-2-dark: hsla(0, 0%, 100%, 25%)
    --color-neutral-3-dark: hsla(0, 0%, 100%, 12%)
    --color-neutral-4-dark: hsla(0, 0%, 100%, 6%)
    --color-overlay-dark: hsla(0, 0%, 5%, 98%)
    --color-background-dark: hsl(0, 0%, 5%)

    // Typography
    --type-family-1: 'ColfaxWebRegular', sans-serif
    --type-family-2: 'KlavikaWebDisplayBlack', sans-serif
    --type-family-3: 'Reenie Beanie', sans-serif
    --type-height: 1.5

    // Sizing
    --size-s: 1rem
    --size-m: 1.5rem
    --size-l: 2rem
    --size-xl: 3rem
    --size-xxl: 6rem
    --size-xxxl: 10rem

    // Container
    --container-size: 60rem

// SASS ----------------------------------------------------------------

// Media queries
$media-query-small-only: "only screen and (max-width: 39.9375rem)"
$media-query-medium: "only screen and (min-width: 40rem)"
$media-query-large: "only screen and (min-width: 64rem)"
$media-query-huge: "only screen and (min-width: 80rem)"