// Webfonts -------------------------------------------------------------------

@font-face
    font-family: 'ColfaxWebRegular'
    font-style: normal
    font-weight: normal
    src: url('../static/colfax-web-regular.woff2') format('woff2'), url('../static/colfax-web-regular.woff') format('woff')

@font-face
    font-family: 'KlavikaWebDisplayBlack'
    font-style: normal
    font-weight: normal
    src: url('../static/klavika-web-display-black.woff2') format('woff2'), url('../static/klavika-web-display-black.woff') format('woff')

@font-face
    font-family: 'Reenie Beanie'
    font-style: normal
    font-weight: 400
    src: url('../static/reenie-beanie-v10-latin-regular.woff2') format('woff2'), url('../static/reenie-beanie-v10-latin-regular.woff') format('woff')

// Custom properties ----------------------------------------------------------

// Color: light theme
$color-primary-light: #0e0e0e
$color-secondary-light: #322ABB
$color-tertiary-light: #ddba00
$color-background-light: #FFF

// Color:: dark theme
$color-primary-dark: #FFF
$color-secondary-dark: #8E2CF9
$color-tertiary-dark: #51e2c1
$color-background-dark: #0e0e0e

// Typography
$type-family-1: 'ColfaxWebRegular', sans-serif
$type-family-2: 'KlavikaWebDisplayBlack', sans-serif
$type-family-3: 'Reenie Beanie', sans-serif
$type-height: 1.5

// Sizing
$size-s: 1rem
$size-m: 1.5rem
$size-l: 2rem
$size-xl: 3rem
$size-xxl: 6rem
$size-xxxl: 10rem

// Media queries
$media-query-small-only: "only screen and (max-width: 39.9375rem)"
$media-query-medium: "only screen and (min-width: 40rem)"
$media-query-large: "only screen and (min-width: 64rem)"
$media-query-huge: "only screen and (min-width: 80rem)"

// Container
$container-size: 60rem