// NATIVE --------------------------------------------------------------

\:root

    // Light Theme
    --color-primary: #0d0d0d
    --color-secondary: #322abb
    --color-tertiary: #dbb700
    --color-neutral-1: rgba(13, 13, 13, 0.5)
    --color-neutral-2: rgba(13, 13, 13, 0.25)
    --color-neutral-3: rgba(13, 13, 13, 0.12)
    --color-neutral-4: rgba(13, 13, 13, 0.06)
    --color-overlay: rgba(255, 255, 255, 0.98)
    --color-background: #fff
    --background: url(../static/bg-light.svg)

    // Typography
    --type-family-1a: 'ColfaxWebRegular', sans-serif
    --type-family-1b: 'ColfaxWebBold', sans-serif
    --type-family-2: 'KlavikaWebDisplayBlack', sans-serif
    --type-family-3: 'Reenie Beanie', sans-serif
    --type-height-1: 1.5
    --type-height-2: 1

    // Sizing
    --size-s: 1rem
    --size-m: 1.5rem
    --size-l: 2rem
    --size-xl: 3rem
    --size-xxl: 6rem
    --size-xxxl: 10rem

    // Container
    --container-size: 50rem

    // Radius
    --radius: 0.25em

@media (prefers-color-scheme: dark)
    \:root
        --color-primary: #fff
        --color-secondary: #9c47f7
        --color-tertiary: #51e1c0
        --color-neutral-1: rgba(255, 255, 255, 0.5)
        --color-neutral-2: rgba(255, 255, 255, 0.25)
        --color-neutral-3: rgba(255, 255, 255, 0.12)
        --color-neutral-4: rgba(255, 255, 255, 0.06)
        --color-overlay: rgba(13, 13, 13, 0.98)
        --color-background: #0d0d0d
        --background: url(../static/bg-dark.svg)

// SASS ----------------------------------------------------------------

// Media queries
$media-query-small-only: "only screen and (max-width: 39.9375rem)"
$media-query-medium: "only screen and (min-width: 40rem)"
$media-query-large: "only screen and (min-width: 80rem)"
$media-query-huge: "only screen and (min-width: 90rem)"