// Webfonts -------------------------------------------------------------------

@font-face
    font-family: 'ColfaxWebRegular'
    font-style: normal
    font-weight: normal
    src: url('../static/colfax-web-regular.woff2') format('woff2'), url('../static/colfax-web-regular.woff') format('woff')

@font-face
    font-family: 'ColfaxWebBold'
    font-style: normal
    font-weight: normal
    src: url('../static/colfax-web-bold.woff2') format('woff2'), url('../static/colfax-web-bold.woff') format('woff')

@font-face
    font-family: 'KlavikaWebDisplayBlack'
    font-style: normal
    font-weight: normal
    src: url('../static/klavika-web-display-black.woff2') format('woff2'), url('../static/klavika-web-display-black.woff') format('woff')

@font-face
    font-family: 'Reenie Beanie'
    font-style: normal
    font-weight: 400
    src: url('../static/reenie-beanie-v10-latin-regular.woff2') format('woff2'), url('../static/reenie-beanie-v10-latin-regular.woff') format('woff')