<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.nickname }}">
<meta name="twitter:creator" content="@{{ site.nickname }}">
<meta name="twitter:url" property="og:url" content="{{ site.url }}">
<meta name="twitter:image:width" content="1000">
<meta name="twitter:image:height" content="1000">
<meta name="twitter:image" property="og:image" content="{{ site.url }}/static/preview.png">
<meta name="twitter:title" property="og:title" content="{{ site.title }}">
<meta name="twitter:description" property="og:description" content="{{ site.description }}">