<footer id="footer">
    <div class="h-container">
        <h2 class="h5">Find me on the internet</h2>
        {% if site.data.social %}
        <ul class="h-list-horizontal h-list-horizontal--space">
            {% for link in site.data.social %}
                <li class="h-list-horizontal--item h-list-horizontal--item--distance-2">
                    <a class="h-hover" href="{{ link.link }}" rel="noopener noreferrer nofollow" target="_blank">
                        {% include_relative static/{{ link.title | replace: " ", "-" | downcase }}.svg %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>
            <small>© {{ page.title }} {{ 'now' | date: "%Y" }}. All rights reserved. Typeface <a href="https://processtypefoundry.com/fonts/colfax/" rel="noopener noreferrer nofollow" target="_blank">Colfax</a> by Process Type Foundry</small>
        </p>
    </div>
</footer>