<section id="about" class="about t__section">
    <div class="about__more">
        <div class="t__container">
            <h2 class="t__typedivider">About me</h2>
            <p class="t__lead">I iterate, prototype, and arrive at comprehensive solutions, deliver precise, conceptual, and visually elegant design specs with the highest fidelity possible, and work closely with engineers to ensure high-quality execution.</p>
            {% if skills %}
                <h3>My skills</h3>
                <div class="about__skills">    
                    {% for skill in skills %}
                        <div class="about__skills__group">
                            <h4 class="h6">
                                {% include 'skills/' + skill.title | slug + '.svg' %}
                                <strong>{{ skill.title }}</strong>
                            </h4>
                            <ul>
                                {% for child in skill.body %}
                                    <li>{{ child }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if reads %}
        <div class="about__reads">
            <div class="t__container">
                <h3>Favorite readings</h3>
                <p>I go in phases with reading… sometimes consuming multiple books a month while other times take months to read one book. This is a list of books I recommend.</p>
            </div>
            <ol class="t__inline">
                {% for read in reads %}
                    <li class="t__inline__item t__inline__item--1">
                        <a class="t__hover t__hover--2" href="{{ read.link | url }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ read.title }} by {{ read.author}}">
                            {% book 'src/static/books/' + read.title | slug + '.jpg', read.title %}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
    {% if software %}
        <div class="about__software">
            <div class="t__container">
                <h3>Software I use</h3>
                <p>Apps I use just about every day.</p>
                <ol class="t__inline">
                    {% for app in software %}
                        <li class="t__inline__item t__inline__item--1">
                            <a class="t__hover t__hover--2" href="{{ app.link | url }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ app.title }}">
                                {% include 'software/' + app.title | slug + '.svg' %}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
    {% if hardware %}
        <div class="about__hardware">
            <div class="t__container">
                <h3>Hardware I use</h3>
                <p>Here are most of the things I regularly use to make everything!</p>
                <ul class="link-style">
                    {% for gadget in hardware %}
                        <li>
                            <a href="{{ gadget.link | url }}" rel="noopener noreferrer nofollow" target="_blank">{{ gadget.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="about__bits">
        <div class="t__container">
            <h3>My latest bits</h3>
            <p>Some of projects that I have dealt with during my career, more info is <a href="#contact" title="Go to the Contact section">available uppon request</a>.</p>
        </div>
        <ol class="t__grid t__grid--works">
            {% for work in collections.work %}
                {% if work.url == false %}
                    <li class="t__grid__item">
                        <article class="t__card">
                            <header class="t__card__header">
                                <h4 class="t__card__title">{{ work.data.title }}</h4>
                                {% if work.data.client %}
                                    <p class="t__card__client">{{ work.data.client }}</p>
                                {% elif work.data.nft %}
                                    <span class="t__card__client">NFT</span>
                                {% endif %}
                                {% if work.data.description %}
                                    <p class="t__card__desc">{{ work.data.description }}</p>
                                {% endif %}
                            </header>
                            {% thumbnail work.data.thumbnail, work.data.title %}
                        </article>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div class="about__website">
        <div class="t__container">
            <h3>About this website <sup>Nerd Zone</sup></h3>
            <ul class="link-style">
                <li>Uses a several typefaces:
                    <ul class="link-style">
                        <li><a href="https://processtypefoundry.com/fonts/colfax/" rel="noopener noreferrer nofollow" target="_blank">Colfax</a> and <a href="https://processtypefoundry.com/fonts/klavika-display/" rel="noopener noreferrer nofollow" target="_blank">Klavika Display</a> by Process Type Foundry.</li>
                        <li><a href="https://fonts.google.com/specimen/Caveat#about" rel="noopener noreferrer nofollow" target="_blank">Caveat</a> by Impallari Type.</li>
                    </ul>
                </li>
                <li>This page scores ~98 of 100 on <a href="https://pagespeed.web.dev/report?url=https%3A%2F%2Fhoroman.com%2F" rel="noopener noreferrer nofollow" target="_blank">PageSpeed Insights</a>.</li>
                <li>The theme of this site adapts based on your OS colour scheme.</li>
                <li>Powered by <a href="https://11ty.dev" rel="noopener noreferrer nofollow" target="_blank">11ty</a> as static site generator, JavaScript, SASS and Nunjucks.</li>
                <li>Hosted using <a href="https://pages.github.com" rel="noopener noreferrer nofollow" target="_blank">GitHub Pages</a> and <a href="https://github.com/features/actions" rel="noopener noreferrer nofollow" target="_blank">GitHub Actions</a>.</li>
                <li>This website doesn't use any cookies.</li>
                <li><a href="https://splitbee.io" rel="noopener noreferrer nofollow" target="_blank">Slitbee</a> is used as analytics platform.</li>
                <li>Current site version is {{ site.version }}.</li>
            </ul>
        </div>
    </div>
</section>