{% if clients %}
    <section id="clients" class="clients t__section">
        <div class="t__container">
            <h2 class="t__typedivider">Clients</h2>
            <p>In my product design career, I've had the privilege of collaborating with esteemed clients such as:</p>
            <ol class="t__inline">
                {% for client in clients %}
                    <li class="t__inline__item t__inline__item--2">
                        {% include 'clients/' + client.title | slug + '.svg' %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </section>
{% endif %}
