<div id="contact" class="contact{% if layout != "layouts/base" %} contact--alt{% endif %} t__section">
    <div class="t__container">
        <h2 class="contact__title{% if layout != "layouts/base" %} h3{% endif %}">Get In Touch</h2>
        <p>If you’d like me to work on your product or say hello, please feel free to reach me via e-mail or Twitter. I speak fluently in English, Italian and Ukrainian.</p>
        <a class="button t__hover t__hover--1" href="mailto:{{ site.mail }}" title="Contact">E-mail</a>
        <a class="button button--secondary t__hover t__hover--1" href="https://linkedin.com/in/horoman/" rel="me noopener noreferrer nofollow"  target="_blank" title="LinkedIn">LinkedIn</a>
    </div>
</div>