{% set cssVars = {
    '--color-primary': css.primary,
    '--color-secondary': css.secondary,
    '--color-tertiary': css.tertiary,
    '--color-neutral-1': css.neutral1,
    '--color-neutral-2': css.neutral2,
    '--color-neutral-3': css.neutral3,
    '--color-neutral-4': css.neutral4,
    '--color-thumbnail-hover': css.thumbnailHover,
    '--color-overlay': css.overlay,
    '--color-background': css.colorBackground,
    '--shadow-1': css.shadowOne,
    '--shadow-2': css.shadowTwo
} %}

{% if cssVars | length %}
    <style>
        :root {
            {% for var, value in cssVars %}
                {% if value %}
                    {{ var }}: {{ value }};
                {% endif %}
            {% endfor %}
        }
    </style>
{% endif %}
