<footer id="footer">
    <div class="t-container">
        <h2 class="h4">Find me on the internet</h2>
        {% if social %}
        <ul class="t-list-horizontal">
            {% for link in social %}
                <li class="t-list-horizontal--item t-list-horizontal--item--distance-1">
                    <a class="t-hover--1" href="{{ link.link }}" rel="me noopener noreferrer nofollow" target="_blank" title="{{ link.title }}">
                        {% include 'social/' + link.title | slug + '.svg' %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>
            <small>© {{ site.starting }}–{% year %} {{ site.author }}. All rights are reserved and their respective owners.</small>
        </p>
    </div>
</footer>