<header id="intro" class="t__section intro">
    <div class="t__container">
        {% include 'components/avatar.njk' %}
        <h1 class="intro__logo">
            <span class="t__vh">{{ site.author }}</span>
            {% include 'assets/logo.svg' %}
        </h1>
        <p class="t__lead"><span class="intro__emoji" aria-hidden="true">👋</span> Hi, I’m {{ site.author }}, a multidisciplinary designer with {% experience %}+ years of experience. Originally from Lviv, Ukraine, I currently reside in {{ site.location }}. I care about form and function and believe in the power of simplicity.</p>
        <p>I currently spend my days designing at <a href="https://esw.com" rel="noopener noreferrer nofollow" target="_blank">ESW</a>. Previously, I have had the privilege to improve products used and loved by many users, and these are some of the clients:</p>
        {% if clients %}
            <ol class="intro__clients t__inline">
                {% for client in clients %}
                    <li class="intro__clients__item t__inline__item t__inline__item--1">
                        {% if client.url %}
                            <a class="intro__clients__link t__hover t__hover--2" href="{{ client.url | url }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ client.title }}">
                                {% include 'clients/' + client.title | slug + '.svg' %}
                            </a>
                        {% else %}
                            {% include 'clients/' + client.title | slug + '.svg' %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</header>