<header id="intro" class="t__section intro">
    <div class="t__container">
        <figure class="intro__avatar">
            {% include 'components/avatar.njk' %}
            <div class="intro__avatar__ascii">
                {% include 'assets/ascii.svg' %}
            </div>
        </figure>
        <h1 class="intro__logo">
            <span class="t__vh">{{ site.author }}</span>
            {% include 'assets/logo.svg' %}
        </h1>
        <p class="t__lead"><span class="intro__emoji" aria-hidden="true">👋</span> Hello, I’m {{ site.author }}, a seasoned designer with a journey spanning {% experience %}+ years. Born in Lviv, Ukraine, and now I am based in {{ site.location }}. I advocate for accessibility, aesthetics and functionality, finding immense potential in simplicity.</p>
        <p>My current creative odyssey unfolds at <a href="https://esw.com" rel="noopener noreferrer nofollow" target="_blank">ESW</a>, where I dedicate my days to designing innovative experiences. Throughout my career, I’ve had the privilege of refining products that have captured the hearts of numerous users. Noteworthy names among my esteemed clients include:</p>
        {% if clients %}
            <ol class="intro__clients t__inline">
                {% for client in clients %}
                    <li class="intro__clients__item t__inline__item t__inline__item--1">
                        {% include 'clients/' + client.title | slug + '.svg' %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</header>