<header id="intro" class="t__section intro">
    <div class="t__container">
        <figure class="intro__avatar">
            {% include 'components/avatar.njk' %}
            <div class="intro__avatar__ascii">
                {% include 'assets/ascii.svg' %}
            </div>
        </figure>
        <h1 class="intro__logo">
            <span class="t__vh">{{ site.author }}</span>
            {% include 'assets/logo.svg' %}
        </h1>
        <nav class="intro__nav">
            <ul>
                <li><a href="#works">Case studies</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#about">About me</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </nav>
        <p class="t__lead">Hello! I'm Roman {{ site.author }}, a seasoned designer with a journey spanning {% experience %}+ years. Originally from Ukraine, I've now set my creative compass to Dublin, Ireland. I advocate for accessibility, aesthetics and functionality, finding immense potential in simplicity.</p>
    </div>
</header>
