<div id="modal">
    <div id="modal-container">
        <button id="modal-close" title="Close modal">
            <span class="t__vh">Close</span>
            {% include 'assets/close.svg' %}
        </button>
        <h4>This work is protected by <abbr title="Non-disclosure agreement">NDA</abbr>s</h4>
        <p>Please enter the password to proceed.</p>
        <input id="modal-password" name="password" type="password" placeholder="Password" aria-label="Password" inputmode="numeric" pattern="[0-9]" autocomplete="current-password" minlength="6" maxlength="6" required>
        <button id="modal-enter" class="t__hover t__hover--1">Enter</button>
        <hr>
        <p>Don’t have a password? Reach out to me at <a href="mailto:{{ site.mail }}" title="Send email to {{ site.mail }}">{{ site.mail }}</a>.</p>
    </div>
</div>
