<script>
    if (window.navigator && navigator.serviceWorker) {
        navigator.serviceWorker.getRegistrations()
        .then(function(registrations) {
            for(let registration of registrations) {
                registration.unregister();
            }
        });
    }

    // Create a function for a link containing id="back" and when clicked, go back to the previous page using browser history
    var back = document.getElementById('back');
    if (back) {
        back.addEventListener('click', function(event) {
            event.preventDefault();
            window.history.back();
        });
    }

    var featuredLink = document.querySelectorAll('.t__card__link');
    var featuredWork = 'FeaturedWork';
    var featuredModal = document.getElementById("modal");
    var featuredClose = document.getElementById("modal-close");
    var featuredPassword = document.getElementById("modal-password");
    var featuredEnter = document.getElementById("modal-enter");
    var featuredValue = '{{ site.password }}';
    var featuredUrl = '';

    // Close modal
    featuredClose.onclick = function() {
        featuredModal.classList.toggle('open');
        featuredPassword.classList.remove('error');
        featuredPassword.value = '';
    };

    // Close modal on esc button
    {% if layout != 'layouts/work' %}
        document.addEventListener("keyup", function(event) {
            if (event.keyCode === 27) {
                featuredModal.classList.remove('open');
                featuredPassword.classList.remove('error');
                featuredPassword.value = '';
            };
        });
    {% endif %}

    // Check password
    function checkPassword(parentLink) {
        if (featuredPassword.value === featuredValue) {
            localStorage.setItem(featuredWork, featuredValue);
            location.href = parentLink;
            featuredPassword.classList.remove('error');
            return true;
        } else {
            featuredPassword.classList.add('error');
            featuredPassword.classList.add('error--play');
            setTimeout(function(){
                featuredPassword.classList.remove('error--play');
            }, 500);
        }
    };

    document.addEventListener('click', function (event) {
        
        // Only for links with specific class
        if (!event.target.matches('.t__card__link')) return;

        // If has no localstorage
        if (localStorage.getItem(featuredWork) !== featuredValue) {

            // Show the <Modal>
            featuredModal.classList.toggle('open');
            featuredPassword.focus();
            
            // Prevent enter the URL
            event.preventDefault();

            // Save the URL
            featuredUrl = event.target.href;

            // Submit on button
            featuredEnter.addEventListener("click", function (event) {
                checkPassword(featuredUrl);
            });

            // Submit on keyboard enter button
            featuredPassword.addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    featuredEnter.click();
                    checkPassword(featuredUrl);
                };
            });
        };
    }, false);

    // If the user access `?pwd=12345` url don't require password anymore
    var queryString = window.location.search;
    if (queryString === '?pwd={{ site.password }}') {
        localStorage.setItem(featuredWork, featuredValue);
    }

    // If the local storage value is different redirect to the homepage.
    {% if layout == 'layouts/work' %}
        if (!localStorage.hasOwnProperty(featuredWork)) {
            location.href = '{{ site.url }}';
        }
    {% endif %}

    // Remove hash from URL
    function removeLocationHash(){
        var noHashURL = window.location.href.replace(/#.*$/, '');
        window.history.replaceState('', document.title, noHashURL) 
    }
    window.addEventListener("popstate", function(event){
        removeLocationHash();
    });
    window.addEventListener("hashchange", function(event){
        event.preventDefault();
        removeLocationHash();
    });
    window.addEventListener("load", function(){
        removeLocationHash();
    });
</script>

{% if site.environment == "production" %}
    <script src="https://getinsights.io/static/js/insights.js"></script>
    <script>
        insights.init('{{ site.insights }}');
        insights.trackPages();
    </script>
{% endif %}  
