{% if testimonials %}
    <section id="testimonials" class="testimonials t__section">
        <div class="t__container">
            <h2 class="t__typedivider">Testimonials</h2>
            <ul class="testimonials__items">
                {% for testimonial in testimonials %}
                    <li class="testimonials__item">
                        <blockquote class="testimonials__blockquote">
                            <p class="testimonials__comment">{{ testimonial.comment }}</p>
                            <div class="testimonials__author">
                                {% testimonial 'src/static/testimonials/' + testimonial.name | slug + '.jpg', testimonial.name %}
                                <p class="testimonials__text"><span class="testimonials__role">{{ testimonial.role }}</span><br><span class="testimonials__name">{{ testimonial.name }}</span> – {{ testimonial.company }}</p>
                            </div>
                        </blockquote>
                    </li>
                {% endfor %}
            </ul>
        
    </section>
{% endif %}