<section id="testimonials" class="section">
    <div class="t-container">
        <h2>Testimonials</h2>
        {% if testimonials %}
            <ul>
                {% for testimonial in testimonials %}
                    <li{% if testimonial.featured == true %} class="featured" {% endif %}>
                        <blockquote>
                            <p class="comment">{{ testimonial.comment }}</p>
                            <div class="testimonial">
                                <div class="avatar">
                                    <img src="{{ 'static/testimonials/' + testimonial.name | slug + '.jpg' }}" srcset="{{ '/static/testimonials/' + testimonial.name | slug + '@1.5x.jpg' }} 1.5x, {{ '/static/testimonials/' + testimonial.name | slug + '@2x.jpg' }} 2x" alt="{{ testimonial.name }}" loading="lazy" decoding="async">
                                </div>
                                <p>
                                    <span class="role">{{ testimonial.role }}</span>
                                    <br>
                                    <strong>{{ testimonial.name }}</strong> — {{ testimonial.company }}
                                </p>
                            </div>
                        </blockquote>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>