<section id="works" class="works t__section">
    <div class="t__container">
        <h2 class="t__typedivider">Case studies</h2>
    </div>
    <ol class="t__grid t__grid--works">
        {% for work in collections.work %}
            {% if work.url != false %}
                <li class="t__grid__item">
                    <article class="t__card t__card--interactive t__hover t__hover--2">
                        <header class="t__card__header">
                            <h3 class="t__card__title h4">
                                <a class="t__card__link" href="{{ work.url | url }}" rel="bookmark" target="_parent" title="Open '{{ work.data.client }} {{ work.data.title }}' case study">{{ work.data.title }}</a>
                            </h3>
                            {% if work.data.client %}
                                <p class="t__card__client">{{ work.data.client }}</p>
                            {% endif %}
                            {% if work.data.description %}
                                <p class="t__card__desc">{{ work.data.description }}</p>
                            {% endif %}
                            <ul class="t__stats">
                                {% if work.data.platform %}
                                    <li>{{ work.data.platform }}</li>
                                {% endif %}
                                {% if work.data.date %}
                                    <li>{{ work.data.date | year }}</li>
                                {% endif %}
                            </ul>
                        </header>
                        {% thumbnail work.data.thumbnail, work.data.title, work.data.thumbnailRatio %}
                    </article>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</section>
