<section id="work-meta" class="t__section">
    <div class="t__container">
        {% if platform %}
            <div id="work-platform">
                <h6>Platform</h6>
                <p>{{ platform }}</p>
            </div>
        {% endif %}

        {% if roles %}
            <div id="work-skills">
                <h6>Involvement</h2>
                <ul class="t__inline">
                    {% for role in roles %}
                        <li class="t__inline__item t__inline__item--1">{{ role }}</li>
                    {% endfor %}
                </ul>
                <p><small>Would you like to know my other skills? Visit the <a href="/#about">about me</a> section.</small></p>
            </div>
        {% endif %}

        {% if role %}
            <div id="work-role">
                <h6>Role</h2>
                <p>{{ role }}</p>
            </div>
        {% endif %}

        <div id="work-year">
            <h6>Year</h6>
            <p><time>{{ date | year }}{% if finished === false %} – Current{% endif %}</time></p>
        </div>
    </div>
</section>