.t

    &__vh
        block-size: 1px
        border: 0
        clip: rect(0 0 0 0)
        inline-size: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute

    &__typedivider
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        text-align: center
        &:after
            content: ''
            border-top: 1px solid var(--color-neutral-3)
            margin: 0 0 0 var(--size-s)
            flex: 1 0 var(--size-s)

    &__hover
        transition: all .3s cubic-bezier(0, 0, .5, 1)
        &--1
            backface-visibility: hidden
            -webkit-font-smoothing: subpixel-antialiased
            &:hover
                -webkit-filter: brightness(120%)
                filter: brightness(120%)
                transform: scale(1.05)
                @media #{$media-query-large}
                    transform: scale(1.1)
                @media (prefers-color-scheme: dark)
                    -webkit-filter: brightness(112%)
                    filter: brightness(112%)
        &--2
            transition: transform .3s cubic-bezier(0, 0, .5, 1)
            &:hover
                transform: scale3d(1.03, 1.03, 1.03)

    &__container
        max-width: var(--container-size)
        margin-inline: auto
        padding-inline: var(--size-s)
        box-sizing: border-box
        @media #{$media-query-medium}
            padding-inline: var(--size-m)
        @media #{$media-query-large}
            padding-inline: var(--size-l)

    &__section + *
        clear: both
        margin-top: var(--size-xl)
        @media #{$media-query-large}
            margin-top: var(--size-xxl)

    &__grid
        list-style: none
        margin: 0
        &--works
            @media #{$media-query-small-only}
                padding-inline: 1em
            @media #{$media-query-medium}
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-gap: var(--size-l)
                padding-inline: var(--size-l)
            @media #{$media-query-large}
                grid-template-columns: repeat(3, 1fr)
            @media #{$media-query-huge}
                grid-template-columns: repeat(4, 1fr)
            @media #{$media-query-godzilla}
                grid-template-columns: repeat(5, 1fr)
        &--pagination
            padding-left: 0
            @media #{$media-query-medium}
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-gap: var(--size-l)

        &__item
            @media #{$media-query-medium}
                display: flex

    &__card
        position: relative
        display: flex
        flex-direction: column
        width: 100%
        &--interactive
            &:hover
                img
                    box-shadow: var(--shadow-2)
        &__image
            order: -1
            // TODO: Need to fix Safari and test on other devices
            @media #{$media-query-medium}
                display: flex
                flex-direction: column
                justify-content: end
                aspect-ratio: 1/1
            img
                transition: box-shadow 150ms ease-in
                box-shadow: var(--shadow-1)
                border-radius: var(--radius-1)
                overflow: hidden
                width: 100%
                height: auto
                @media print
                    box-shadow: none
        &__header
            display: flex
            flex-direction: column
            padding: var(--size-s)
        &__title
            font-family: var(--type-family-1b)
            text-transform: none
            margin-top: 0
            letter-spacing: 0
        &__client
            order: -1
            font-size: 1.5em
            font-family: var(--type-family-3)
            color: var(--color-tertiary)
            line-height: 1
            margin: 0
        &__link
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: 1
            &:hover, &:focus
                img
                    box-shadow: var(--shadow-2)
        &__desc
            font-size: 0.75em

    &__inline
        display: flex
        flex-wrap: wrap
        gap: var(--size-s)
        list-style: none
        padding: 0
        margin-block: var(--size-s)
        &__item
            list-style: none

    &__lead
        font-size: 1.25em