// Sizes
$media-small: 50rem
$media-medium: 75rem
$media-large: 93.75rem
$media-huge: 118.75rem

// Usage:
// 1. @media (width < $media-small) below 50rem.
// 2. @media (width >= $media-small) equal or bigger than 50rem.
// 3. @media ($media-small <= width <= $media-medium) from 50rem to 75rem.
