// Media queries
$media-query-small-only: "only screen and (max-width: 49.9375rem)"
$media-query-medium: "only screen and (min-width: 50rem)"
$media-query-large: "only screen and (min-width: 75rem)"
$media-query-huge: "only screen and (min-width: 92rem)"
$media-query-godzilla: "only screen and (min-width: 120rem)"
