---
layout: default
---
<article>
    <div id="about" class="section">
        <div class="t-container">
            {% include 'avatar.njk' %}
            <p>Nice to meet you <span class="emoji" aria-hidden="true">👋</span>. I’m a <mark>multidisciplinary designer</mark> currently based in {{ site.location }}.</p>
            <p>My work focuses on building thoughtful, intuitive, and delightful digital products with a devotion to the quality, design process, transparency, and sharing what I learn.</p>
            {% if skills %}
                <ul class="t-list-horizontal">
                    {% for expertise in skills %}
                        <li class="expertise t-list-horizontal--item t-list-horizontal--item--distance-2">
                            {% include expertise | slug + '.svg' %}
                            <small>{{ expertise }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="works" class="section">
        <div class="t-container">
            <h2>Case studies</h2>
        </div>
        <ol>
            {% for work in collections.work %}
                {% if work.url != false %}
                    <li class="work work--reels">
                        <a class="work-link t-hover--2" href="{{ work.url | url }}" rel="bookmark" target="_parent">
                            {% thumbnail work.fileSlug, work.data.title %}
                            <div class="content">
                                <h3>{% if work.data.client %}{{ work.data.client }}: {% endif %}{{ work.data.title }} ➞ <span class="link-label">Case study</span></h3>
                                {% if work.data.description %}
                                    <p>{{ work.data.description }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    {% include 'testimonials.njk' %}
    <div id="bits" class="section">
        <div class="t-container">
            <h2>Latest Works</h2>
        </div>
        <ol>
            {% for work in collections.work %}
                {% if work.url == false %}
                    <li class="work">
                        {% thumbnail work.fileSlug, work.data.title %}
                        <div class="content">
                            <h3>{% if work.data.client %}{{ work.data.client }}: {% endif %}{{ work.data.title }}</h3>
                            {% if work.data.description %}
                                <p>{{ work.data.description }}</p>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div id="contact" class="section">
        <div class="t-container">
            <h2>Experience</h2>
            <p>Over the last {% experience %} years, I had the privilege to improve products used and loved by many users, these are some of the clients:</p>
            {% if clients %}
                <ol class="t-list-horizontal">
                    {% for client in clients %}
                        <li class="t-list-horizontal--item t-list-horizontal--item--distance-2">
                            {% if client.url %}
                                <a href="{{ client.url | url }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ client.title }}">
                                    {% include client.title | slug + '.svg' %}
                                </a>
                            {% else %}
                                {% include client.title | slug + '.svg' %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
            <p>If you’d like me to work on your product/service or just say hello, please feel free to reach me via email.</p>
            <a class="button t-hover--1" href="mailto:{{ site.mail }}" title="Contact">Contact</a>
        </div>
    </div>
</article>