---
layout: default
---
<h1>Test variable: {{ site.title }}</h1>

{% if site.title %}
    <p>Title exists!</p>
{% else %}
    <p>No title…</p>
{% endif %}

{% if clients %}
    <ul>
        {% for client in clients %}
            <li>{{ client.title }} - {{ client.url }}</li>
        {% endfor %}
    </ul>
{% endif %}