<section class="works">
    <div class="t-container">
        <h1>Nice to meet you I’m {{ site.author }} an {{ site.role }} based in {{ site.location }}. Currently, I work at <a href="{{ site.company-url }}" rel="noopener noreferrer nofollow" target="_blank">{{ site.company }}</a> as {{ site.company-role }}. My work focuses on building thoughtful, intuitive, and delightful digital products, with a devotion to quality, process, transparency, and sharing what I learn.</h1>
        <h2>Here’s my latest works:</h2>
    </div>
    {% if site.data.works %}
        <ol class="works__loop">
            {% for work in site.data.works %}
                <li class="works__loop__item">
                    <img src="static/{{ work.title | replace: " ", "-" | downcase }}.jpg" srcset="static/{{ work.title | replace: " ", "-" | downcase }}@1.5x.jpg 1.5x, static/{{ work.title | replace: " ", "-" | downcase | replace: " ", "-" | downcase }}@2x.jpg 2x" alt="{{ work.title }} - {{ work.description }} - {{ work.year }}">
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No data</p>
    {% endif %}
</section>