{% if layout == 'work' or layout == 'not-found' %}
    <a id="avatar" class="t-hover--2" href="/" rel="home" title="Homepage">
        <picture>
            <source srcset="{{ '/static/avatar-dark.png' | url }} 1x, {{ '/static/avatar-dark@1.5x.png' | url }} 1.5x, {{ '/static/avatar-dark@2x.png' | url }} 2x" media="(prefers-color-scheme: dark)">
            <source srcset="{{ '/static/avatar-light.png' | url }} 1x, {{ '/static/avatar-light@1.5x.png' | url }} 1.5x, {{ '/static/avatar-light@2x.png' | url }} 2x" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
            <img src="{{ '/static/avatar-light.png' | url }}" width="96" height="143" loading="eager" decoding="async" alt="{{ site.author }}">
        </picture>
    </a>
{% else %}
    <picture id="avatar">
        <source srcset="{{ '/static/avatar-dark.png' | url }} 1x, {{ '/static/avatar-dark@1.5x.png' | url }} 1.5x, {{ '/static/avatar-dark@2x.png' | url }} 2x" media="(prefers-color-scheme: dark)">
        <source srcset="{{ '/static/avatar-light.png' | url }} 1x, {{ '/static/avatar-light@1.5x.png' | url }} 1.5x, {{ '/static/avatar-light@2x.png' | url }} 2x" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
        <img src="{{ '/static/avatar-light.png' | url }}" width="96" height="143" loading="eager" decoding="async" alt="{{ site.author }}">
    </picture>
{% endif %}