{% if layout == "default" %}
    <section id="contact" class="section">
        <div class="t-container">
            <h2>Experience</h2>
            <p>Over the last {% experience %} years, I had the privilege to improve products used and loved by many users, these are some of the clients:</p>
            {% if clients %}
                <ol class="t-list-horizontal">
                    {% for client in clients %}
                        <li class="t-list-horizontal--item t-list-horizontal--item--distance-2">
                            {% if client.url %}
                                <a href="{{ client.url | url }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ client.title }}">
                                    {% include client.title | slug + '.svg' %}
                                </a>
                            {% else %}
                                {% include client.title | slug + '.svg' %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
            <p>If you’d like me to work on your product or just say hello, please feel free to reach me via e-mail or Twitter, I speak fluently in English, Italian and Ukrainian.</p>
            <a class="button t-hover--1" href="mailto:{{ site.mail }}" title="Contact">E-mail</a>
            <a class="button button--secondary t-hover--1" href="https://twitter.com/h0r0m4n/" rel="me noopener noreferrer nofollow"  target="_blank" title="Twitter">Twitter</a>
        </div>
    </section>    
{% else %}
    <div id="contact" class="section alt">
        <div class="t-container">
            <h2 class="h3">Get In Touch</h2>
            <p>If you’d like me to work on your product or just say hello, please feel free to reach me via e-mail or Twitter, I speak fluently in English, Italian and Ukrainian..</p>
            <a class="button t-hover--1" href="mailto:{{ site.mail }}" title="Contact">E-mail</a>
            <a class="button button--secondary t-hover--1" href="https://twitter.com/h0r0m4n/" rel="me noopener noreferrer nofollow"  target="_blank" title="Twitter">Twitter</a>
        </div>
    </div>
{% endif %}