<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.njk' %}
    </head>
    <body>
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
        {% include 'modal.njk' %}
        {% include 'scripts.njk' %}
    </body>
</html>