<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title%}{{ global.title }} — {{ title }}{% else %}{{ global.title }}{% endif %}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ global.description }}{% endif %}">
<meta property="og:url" content="#">
<meta property="og:site_name" content="{{ global.author }}">
<meta property="og:image" content="{{ "/static/preview.jpg" | url }}?v={{ global.version }}">