<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ global.description }}{% endif %}">
<meta name="keywords" content="{{ global.keywords }}">
<meta name="author" content="{{ global.author }}">
<meta name="robots" content="{% if layout == 'work' or layout == 'not-found' %}noindex, nofollow, noarchive, notranslate, noimageindex{% else %}nofollow, noarchive, notranslate, noimageindex{% endif %}">
<meta name="pinterest-rich-pin" content="false">

{% if layout == 'default' %}
    {% include 'head-twitter.njk' %}
    {% include 'head-facebook.njk' %}
{% endif %}

<title>{% if title%}{{ site.title }} — {{ title }}{% else %}{{ site.title }}{% endif %}</title>

{% if layout == 'default' %}
    <link rel="canonical" href="{{ site.url }}">
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url + '/apple-touch-icon.png' | url }}?v={{ site.version }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url + '/favicon-32x32.png' | url }}?v={{ site.version }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url + '/favicon-16x16.png' | url }}?v={{ site.version }}">
<link rel="manifest" href="{{ site.url + '/site.webmanifest' | url }}?v={{ site.version }}">
<link rel="mask-icon" href="{{ site.url + '/safari-pinned-tab.svg' | url }}?v={{ site.version }}" color="#666666">
<link rel="stylesheet" href="{{ '/css/style.css' | url }}?v={{ site.version }}">