<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">
<meta name="robots" content="{% if page.layout == "post" or page.layout == 404 %}noindex, nofollow, noarchive, notranslate, noimageindex{% else %}nofollow, noarchive, notranslate, noimageindex{% endif %}">
<meta name="pinterest-rich-pin" content="false">
{% if page.layout == "default" %}
    {% include head-twitter.html %}
    {% include head-facebook.html %}
{% endif %}
<title>{% if page.title%}{{ site.title }} — {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
{% if page.layout == "default" %}
    <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
{% endif %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/site.webmanifest" | absolute_url }}">
<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | absolute_url }}" color="#666666">
<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">