{% if page.layout == "post" %}
    <header id="post-header">
        <div class="t-container">
            <a id="back" class="t-hover--1" href="/" rel="home">
                <span class="t-visually-hidden">Back</span>
                {% include close.svg %}
            </a>
            {% include avatar.html %}
        </div>
    </header>
{% else %}
    <header id="header">
        <div class="t-container">
            <h1>
                <span class="h3">{{ site.author }}</span>
                <br>
                {% include logo.svg %}
            </h1>
        </div>
    </header>
{% endif %}