<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title%}{{ site.title }} — {{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
<meta property="og:site_name" content="{{ site.author }}">
<meta property="og:image" content="{{ "/static/preview.jpg" | absolute_url }}?v={{ site.version }}">