<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.nickname }}">
<meta name="twitter:creator" content="@{{ site.nickname }}">
<meta name="twitter:title" property="og:title" content="{% if page.title%}{{ site.title }} — {{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:url" property="og:url" content="{{ page.url | absolute_url | strip_index }}">
<meta name="twitter:image" property="og:image" content="{{ "/static/preview.jpg" | absolute_url }}?v={{ site.version }}">