<div id="modal">
    <div id="modal-container">
        <button id="modal-close">
            <span class="t-visually-hidden">Close</span>
            {% include close.svg %}
        </button>
        <h5>This work is protected please insert the password</h5>
        <input id="modal-password" name="password" type="password" placeholder="Password" inputmode="numeric" pattern="[0-9]" autocomplete="current-password" minlength="6" maxlength="6" required>
        <button id="modal-enter" class="t-hover--1">Enter</button>
        <hr>
        <p>Doesn't have a password? Contact me at <a href="mailto:{{ site.mail }}">{{ site.mail }}</a>.</p>
    </div>
</div>