<nav id="work-pagination" class="section">
    <div class="t-container">
        <h1>See next</h1>
        <ul>    
            {% set nextWork = collections.work | permalinkNotFalse | getNextCollectionItem(page) %}
            {% set previousWork = collections.work | permalinkNotFalse | getPreviousCollectionItem(page) %}
            {% if nextWork %}
                <li class="work work--reels">
                    <a class="t-hover--2" href="{{ nextWork.url }}" rel="bookmark" target="_parent">
                        {% thumbnail nextWork.fileSlug, nextWork.data.title %}
                        <div class="content">
                            <h3>{% if nextWork.data.client %}{{ nextWork.data.client }}: {% endif %}{{ nextWork.data.title }}</h3>
                        </div>
                    </a>
                </li>
            {% elif previousWork %}
                {% for work in collections.work | reverse | permalinkNotFalse | head(-1) %}
                    <li class="work work--reels">
                        <a class="t-hover--2" href="{{ work.url }}" rel="bookmark" target="_parent">
                            {% thumbnail work.fileSlug, work.data.title %}
                            <div class="content">
                                <h3>{% if work.data.client %}{{ work.data.client }}: {% endif %}{{ work.data.title }}</h3>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>