<ul class="h-stats h-list-horizontal">
    {% if include.label-1 and include.value-1 %}
        <li class="h-list-horizontal--item h-list-horizontal--item--distance-1">
            <p><strong>{{ include.label-1 }}</strong>{{ include.value-1 }}</p>
        </li>
    {% endif %}
    {% if include.label-2 and include.value-2 %}
        <li class="h-list-horizontal--item h-list-horizontal--item--distance-1">
            <p><strong>{{ include.label-2 }}</strong>{{ include.value-2 }}</p>
        </li>
    {% endif %}
    {% if include.label-3 and include.value-3 %}
        <li class="h-list-horizontal--item h-list-horizontal--item--distance-1">
            <p><strong>{{ include.label-3 }}</strong>{{ include.value-3 }}</p>
        </li>
    {% endif %}
    {% if include.label-4 and include.value-4 %}
        <li class="h-list-horizontal--item h-list-horizontal--item--distance-1">
            <p><strong>{{ include.label-4 }}</strong>{{ include.value-4 }}</p>
        </li>
    {% endif %}
</ul>