<ul class="t-list-horizontal stats">
    {% if include.label-1 and include.value-1 %}
        <li class="t-list-horizontal--item t-list-horizontal--item--distance-2">
            <p><strong>{{ include.label-1 }}</strong>{{ include.value-1 }}</p>
        </li>
    {% endif %}
    {% if include.label-2 and include.value-2 %}
        <li class="t-list-horizontal--item t-list-horizontal--item--distance-2">
            <p><strong>{{ include.label-2 }}</strong>{{ include.value-2 }}</p>
        </li>
    {% endif %}
    {% if include.label-3 and include.value-3 %}
        <li class="t-list-horizontal--item t-list-horizontal--item--distance-2">
            <p><strong>{{ include.label-3 }}</strong>{{ include.value-3 }}</p>
        </li>
    {% endif %}
    {% if include.label-4 and include.value-4 %}
        <li class="t-list-horizontal--item t-list-horizontal--item--distance-2">
            <p><strong>{{ include.label-4 }}</strong>{{ include.value-4 }}</p>
        </li>
    {% endif %}
</ul>