{% if skills %}
    <div id="work-skills" class="section">
        <ul class="t-list-horizontal">
            {% for skill in skills %}
                <li class="t-list-horizontal--item t-list-horizontal--item--distance-1">{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}