---
layout: default
permalink: "/{{ page.fileSlug }}/index.html"
---
<article>
    <header id="work-heading">
        <div class="t-container">
            {% if client %}
                <strong>{{ client }}</strong>
            {% endif %}
            <h1>{{ title }}</h1>
            {% if description %}
                <p class="h5">{{ description }}</p>
            {% endif %}
            {% include 'work-skills.njk' %}
            <h6>Year</h2>
            <time>{{ date | year }}{% if finished === false %} – Current{% endif %}</time>
        </div>
    </header>
    <div id="work-content">
        <div class="t-container">
            {{ content | safe }}
        </div>
    </div>
    {% include 'pagination.njk' %}
    {% include 'contact.njk' %}
</article>