<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'components/head.njk' %}
    </head>
    <body>
        <div id="top"></div>
        {{ content | safe }}
        {% include 'components/footer.njk' %}
        {% include 'components/modal.njk' %}
        {% include 'components/scripts.njk' %}
    </body>
</html>