<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'components/head.njk' %}
    </head>
    <body>
        {{ content | safe }}
        {% include 'components/footer.njk' %}
    </body>
</html>