---
layout: layouts/base
permalink: "/{{ page.fileSlug }}/index.html"
---
{% include 'components/intro.njk' %}
<article>
    <header id="work-heading" class="t__section">
        <div class="t__container">
            {% if client %}
                <strong>{{ client }}</strong>
            {% endif %}
            <h1>{{ title }}</h1>
            {% if description %}
                <p class="t__lead">{{ description }}</p>
            {% endif %}
        </div>
    </header>
    {% include 'components/work-meta.njk' %}
    <div id="work-content" class="t__section">
        <div class="t__container">
            {{ content | safe }}
        </div>
    </div>
    {% include 'components/pagination.njk' %}
    {% include 'components/contact.njk' %}
</article>
