---
layout: layouts/base
permalink: "/{{ page.fileSlug }}/index.html"
---
<header id="work-header">
    <div class="t__container">
        <a id="back" class="t__hover t__hover--1" href="/" rel="home" title="Back to homepage">
            <span class="t__vh">Back</span>
            {% include 'assets/close.svg' %}
        </a>
    </div>
</header>

<article>
    <header id="work-heading" class="t__section">
        <div class="t__container">
            {% if client %}
                <strong>{{ client }}</strong>
            {% endif %}
            <h1>{{ title }}</h1>
            {% if description %}
                <p class="t__lead">{{ description }}</p>
            {% endif %}
        </div>
    </header>
    {% include 'components/work-meta.njk' %}
    <div id="work-content" class="t__section">
        <div class="t__container">
            {{ content | safe }}
        </div>
    </div>
    {% include 'components/pagination.njk' %}
    {% include 'components/contact.njk' %}
</article>