#about
    #avatar
        float: right
        @media #{$media-query-medium}
            position: relative
            top: calc(var(--size-l) * -1)
            margin-left: var(--size-l)
        @media #{$media-query-large}
            top: calc(var(--size-xl) * -1)
            margin-left: var(--size-xxl)
        img
            padding: 0.5em
            @media #{$media-query-medium}
                width: 154px
                height: 230px