---
title: Just for example
---

@import "_vars"

body
    font-family: 'Roboto', sans-serif
    line-height: 1.5
    @media (prefers-color-scheme: dark)
        background-image: url(../static/bg-dark.svg)
        background-color: #000
        color: #fff
    @media (prefers-color-scheme: light)
        background-image: url(../static/bg-light.svg)
        background-color: #fff
        color: #000
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

a
    color: $links

svg
    @media (prefers-color-scheme: dark)
        fill: #fff
    @media (prefers-color-scheme: light)
        fill: tomato

// Tools

.vh
    border: 0
    clip: rect(0 0 0 0)
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px
    white-space: nowrap

// Animations
@keyframes slide
    0%
        transform: translate3d(0 0 0)
    100%
        transform: translate3d(-100% 0 0)

// Page
img
    max-width: 100%
.works
    &__loop
        overflow: auto
        white-space: nowrap
        animation: slide 10s linear infinite
        margin: 0
        padding-left: 0
        list-style: none
        line-height: 0
        &__group
            // animation: slide 10s linear infinite
        // display: flex
        // flex-wrap: nowrap
        // width: 5000px
        // overflow: hidden
        // overflow-x: scroll
        // overflow-y: hidden
        // //scroll-snap-type: x mandatory
        // scroll-snap-type: mandatory
        // scroll-behavior: smooth
        // white-space: nowrap
        // line-height: 0
        // list-style: none
        &__item
            display: inline-block
            list-style: none
            vertical-align: middle
            white-space: normal
            // list-style: none
            // display: inline-block
            // //scroll-snap-align: start
            // list-style: none
            // box-sizing: border-box



            img
                // max-width: 50%

.clients
    &__loop
        &__item