.about
    background-color: var(--color-neutral-4)
    padding-top: var(--size-xl)
    padding-bottom: var(--size-xl)
    @media #{$media-query-large}
        padding-top: var(--size-xxl)
        padding-bottom: var(--size-xxl)

    h4
        text-transform: none
    
    &__more
        .t__avatar
            display: inline-block
            margin-left: calc(var(--size-s) * -1)
            @media #{$media-query-medium}
                margin-left: calc(var(--size-l) * -1)
            img
                @media #{$media-query-medium}
                    width: 154px
                    height: 230px
        h2
            margin-top: var(--size-m)

    &__reads
        ol
            white-space: nowrap
            overflow-x: auto
            padding: var(--size-s)
            text-align: center
            @media #{$media-query-medium}
                padding: var(--size-m)
            @media #{$media-query-large}
                padding: var(--size-l)

            img
                border-radius: var(--radius-1)
                @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
                    transition: box-shadow 150ms ease-in
                    box-shadow: var(--shadow-1)

            a
                display: block
                &:hover
                    img
                        @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
                            box-shadow: var(--shadow-2)
    &__software
        li
            a
                display: inline-block
                line-height: 0
                background-color: var(--color-background)
                border-radius: var(--radius-2)
                padding: var(--size-s)
                box-shadow: var(--shadow-1)
                &:hover
                    box-shadow: var(--shadow-2)
                    svg
                        fill: var(--color-secondary)

        svg
            transition: fill 150ms ease-in
            fill: var(--color-neutral-1)
            height: 2rem
    
            @media #{$media-query-medium}
                height: 2.5rem

    &__hardware
        li + li
            margin-top: var(--size-xs)

    &__bits
        // 

    &__website
        sup
            font-size: 40%
            font-family: var(--type-family-1a)
            text-transform: uppercase
            color: var(--color-neutral-1)