#work-pagination
    .t__card--interactive
        img
            filter: grayscale(1)
            transition: filter 1000ms ease-in-out
        &:hover
            img
                filter: grayscale(0)