#work-meta
    padding-top: var(--size-l)
    padding-bottom: var(--size-l)
    background-color: var(--color-neutral-4)
    @media #{$media-query-medium}
        padding-top: var(--size-xl)
        padding-bottom: var(--size-xl)

    p
        margin-top: 0.5em
    ul
        margin: 0
    li
        font-size: 0.875em
        padding: 0.25em 0.5em
        border: 2px dotted var(--color-tertiary)
        border-radius: var(--radius-1)