<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test variable: {{ global.title }}</title>
</head>
<body>
    <h1>Test variable: {{ global.title }}</h1>
    {% if global.title %}
    <p>Title exists!</p>
    {% else %}
    <p>No title…</p>
    {% endif %}
</body>
</html>